:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-lilas: #81638b;
    --cor-de-fundo: #000;
    --fonte-principal: 'Inter';
    --botao-lilas-efeito: #81638b;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 400;
}



.corpo{
    background-image: url("Design\ sem\ nome.png");
    background-repeat: no-repeat;
}
.container {
    height: 120vh;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.container__aviso {
    font-size: 18px;
    color: var(--cinza-secundario);
}


.container__botao {
    background-color: var(--botao-lilas);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 1em;
    padding-left: 20px;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 0 5em;
    
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 110%;
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}


.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}
.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.lista__link a{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}

.rodape__texto {
    margin: 1em 0;
    color: var(--cinza-secundario);
    font-size: 14px;
}

.rodape {
    text-align: center;
    margin: 5em 3em;
}

.lista__link a:hover {
    color: var(--botao-lilas);
}

.lista__link a:active {
    color: purple;
}

.container__botao:hover {
    background-color: var(--botao-lilas-efeito);
    color: var(--cor-de-fundo);
}

.logo-cabecalho{
    width: 10%;
    justify-content: left;
}


